@media screen and (max-width:425px) {


    .nav-container{
        /* border: 2px solid red; */
        flex-direction: column;
        width: 100%;
        margin-top: 90px; 
        margin-left: 10px;
        padding: 0;  
    }

    .logo-contaier{
        width: 100%;
    }

    .logo-img img{
        object-fit: cover;
        padding: 10px;
        height: auto;
        width: 100px;
        margin-left: 60px;
    }

    .logo-text{
        font-size: 50px;
        text-align: center;
        gap: 20px;
        font-weight: 700;
    }

    .menu-items{
        margin-left: 20px;
        flex-direction: column;
        width: 100%;
    }

    .menus{
        margin: 20px auto 0;
        flex-direction: column;
    }

    .menue-icons-container{
        margin-left:40px ;
    }


/* nav related styles ends here */
    
    .banner-section{
        width: 100%;
        margin-top: 100px;
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner-img{
        width: 100%;
        margin-top: 20px;  
        margin-left: 100px;
        padding: 30px;
    }

    .banner-text{
        text-align: center;
        width: 100%;  
        margin-top: 30px;  
        margin-left: 100px;
        padding: 50px;
    
    }

    .banner-text, h1, h2{
        text-align: center;
    }

    .banner-text, p{
        text-align: justify;
    }

    .btn-primary{
        margin-left: 30px;
    }


    /* banner section ends here */


}