@media screen and (max-width:425px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
        margin-top: 80px; 
        margin-left: 20px;
        padding: 0;  
    }

    .logo-contaier{
        width: 100%;
        margin-left: 30px;
    }

    .menu-items{
        flex-direction: column;
        width: 100%;
    }

    .menus{
    margin: 20px auto 0;
    flex-direction: column;
    }
/* nav related styles ends here */
    
    
}