@media screen and (max-width:425px) {


    .nav-container{
        flex-direction: column;
        width: 100%;
        margin-top: 90px; 
        margin-left: 10px;
        padding: 0;  
    }

    .logo-contaier{
        width: 100%;
    }

    .logo-img img{
        object-fit: cover;
        padding: 10px;
        height: auto;
        width: 100px;
        margin-left: 20px;
    }

    .logo-text{
        font-size: 50px;
        text-align: center;
        gap: 20px;
        font-weight: 700;
    }

    .menu-items{
        margin-left: 20px;
        flex-direction: column;
        width: 100%;
    }

    .menus{
        margin: 10px 20px 0;
        gap: 10px;
        flex-direction: column;
    }
    .menue-item-title{
        margin-left: 30px;
        gap: 10px;
    }

    .menue-icons-container{
        gap: 10px;
        margin-left:40px ;
    }


/* nav related styles ends here */
    
    .banner-section{

        width: 100%;
        margin-top: 100px;
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner-img{
        width: 100%;
        margin-top: 20px;  
        margin-left: 30px;
        padding: 30px;
    }

    .banner-text{
        text-align: center;
        width: 100%;
        margin-top: 30px;  
        margin-left: 50px;
        padding: 50px;
    
    }

    .banner-text h2{
        font-size: 30px;
        text-align: center;
    }

    .banner-text h1{
        font-size: 60px;
        text-align: center;
    }

    .banner-text, p{
        text-align: justify;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .btn-primary, .btn-extra{
        display: inline;
        padding: 15px 20px;
        margin-left: 20px;
        
    }

    /* banner section ends here */

    .oline-games{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-left: 30px;
        padding: 0;
        gap: 20px;
    }

    .oline-games h1{
        font-size: 30px;
        text-align: center;
        padding-right: 12px;
    }
    .oline-games p{
        font-size: 15px;
        text-align: center;
        margin-left: 5px;

    }
    .cards-container{
    grid-template-columns: 1fr;
        

    }
    
    
}